<div *ngIf='activeFeature.id !== undefined && activeFeature.id !== 0; then active else inactive'></div>

<!-- User NOT logged in -->
<ng-template #inactive>
  <div class='toolbar'>
    <button class='toolbar-button' mat-button (click)=selectFeature(feature.id) *ngFor="let feature of features; let i = index">
      <mat-icon class='feature-icon'>{{feature.icon}}</mat-icon>
      <h1>{{feature.description}}</h1>
    </button>
  </div>
</ng-template>

<ng-template #active>
  <div class='toolbar-active'>
    <button class='toolbar-button'  mat-button (click)=selectFeature(feature.id) *ngFor="let feature of features; let i = index">
      <mat-icon class='feature-icon'>{{feature.icon}}</mat-icon>
      <h1>{{feature.description}}</h1>
    </button>
  </div>
</ng-template>

  
<div class='feature-context' *ngIf='activeFeature.id !== undefined && activeFeature.id !== 0'>
  
  <button class='cancel-button' mat-button (click)=cancel() ><mat-icon>close</mat-icon></button>
  <app-friend *ngIf='activeFeature.selector === "app-friend"'></app-friend>
  <app-marker *ngIf='activeFeature.selector === "app-marker"'></app-marker>

</div>