<mat-toolbar color='warn'  style="background-color:MidnightBlue; height:50px; position:fixed; z-index:10; ">

  <div class="no-class">
    <button class="title" mat-menu-item  (click)='switchToLandingPage()'><span>{{title}}</span></button>
  </div>


  <!-- search form -->
  <div class="" ng-app="app" ng-controller="index">
    <div class="text-wrapper">
      <input id="search_input" type="text" class="input" ng-model="searchBox" placeholder="Search">
    </div>
  </div>

  <span class='spacer'></span>

  <div class='desktop-menu'>
    <button mat-menu-item (click)="navigateToMenuEntry(user)" class='user'>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>



  <mat-menu #menu="matMenu">
    <div *ngFor="let item of items">
      <button mat-menu-item (click)="navigateToMenuEntry(item)">
        <span>
          <mat-icon>{{item.icon}}</mat-icon>{{item.name}}
        </span>
      </button>
    </div>
  </mat-menu>


  <!--
   <div class='desktop-menu'  *ngFor="let item of items">
     <button mat-menu-item (click)="navigateToMenuEntry(item)">
       <span>{{item.name}}</span>
     </button>
   </div>
   -->

</mat-toolbar>
