<div *ngIf='toolbarIsActive; then active else inactive'></div>

<!-- User NOT logged in -->
<ng-template #active>
  <div class='toolbar'>
    <button mat-button (click)=createMarker()>
      <mat-icon>location_on</mat-icon> 
      <h1>Add Marker</h1>
    </button>
  </div>
</ng-template>

<ng-template #inactive>
  <div class='toolbar-active'>
    <button mat-button (click)=createMarker()>
      <mat-icon>location_on</mat-icon>
      <h1>Add Marker</h1>
    </button>
  </div>
</ng-template>

  

<div class='marker-context' *ngIf='showMarkerView'>


  <form class="marker-form">

    <h1>Add Marker</h1>

    <mat-form-field class='full-width'><input matInput placeholder='Titel' [formControl]='titleFormControl'></mat-form-field>
    <mat-form-field class='full-width'><input matInput placeholder='Write a story' [formControl]='storyFormControl'></mat-form-field>

    <button mat-raised-button color="primary" (click)='add()'>Add Marker</button>
    <button mat-raised-button color="warn" (click)='cancel()'>Cancel</button>

  </form>



</div>