<mat-list>
  <h3 mat-subheader>New Marker</h3>
</mat-list>

<form class="marker-form">

  <mat-form-field class='full-width'><input matInput placeholder='Titel' [formControl]='titleFormControl'></mat-form-field>
  <mat-form-field class='full-width large-height'>
    <textarea class='large-height' matInput placeholder='Write a Story' [formControl]='storyFormControl'></textarea>
  </mat-form-field>

  <file-upload></file-upload>

  <button mat-raised-button color="primary" (click)='add()'>Add Marker</button>

</form>