<!-- profile window -->
<b>
  <div id="profile_section"  class="profile_section" >
    <h3 id="profile_name_tag"> Mr User </h3>      <!-- data-name="{{user.username}}" --->
    <button id="profile_edit_btn" class="modal-btn" data-modal="modal1"><i class="material-icons">border_color</i></button>

    <br><img src=""  class="img-circle" id="profile_picture">   <!-- data-name="{{user.profile.image.url}}" -->

  <br><div align="center"><button class="btn btn-default" id="follow_button" style="display:none;"> follow </button></div>
  </div>
</b>
