<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"

  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [iconUrl] = "m.iconUrl"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
      <!-- add-new-marker form-->
      <div id="add_new_marker">
        <form #newMarkerForm="ngForm" (ngSubmit)="saveNewMarker(newMarkerForm)">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Post a new Marker!</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <input id="title" type="text" placeholder="Title" class="form-control input-sm"
                       name="title" [(ngModel)]="title" required>
              </div>
              <div class="form-group">                   <!-- 'cols' is not working :( -->
                <b><textarea matInput id="marker_body" rows="10" cols="70" placeholder="Leave a comment" name="body" [(ngModel)]="marker_body"></textarea></b>
              </div>
              <div class="form-group">
                <b><label for="youtube_url">youtube link</label>: </b><input id="youtube_url" type="text" name="youtube_url" [(ngModel)]="youtube_url">
              </div>
              <div title="upload image or video" style="float:left;">
                <input id="uploaded_files" type="file" name="file" accept="image/*,video/*" name="files" [(ngModel)]="files" >
              </div>
              <br><br>
            </div> <!-- panel body -->
            <div class="panel-footer">
              <button class="btn btn-primary" type="submit">Save</button>
              &nbsp;<button class="btn btn-primary" type="button" style="background-color:Lavender; color:black; border:1px Solid Thistle;">Cancel</button>
            </div>
          </div> <!-- panel panel-primary -->
        </form>
      </div>
    </agm-info-window>

  </agm-marker>

  <!--<agm-circle [latitude]="lat + 0.3" [longitude]="lng"
      [radius]="5000"
      [fillColor]="'blue'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>-->

</agm-map>
