<div class="left_side_controls_div">
  <!-- geocode panel -->
  <div class="geo-panel">
    <input id="geo-address" type="textbox" placeholder=" Enter Address...">
    <b>  <button id="geo-submit"  type="submit"> go! </button> </b>
  </div>

  <!-- search places -->
  <div id="search_places" class="controls search-place">
    <input id="pac-input" type="textbox" placeholder="Search Places">
  </div>

  <!-- navigate panel -->
  <b>
    <div class="navigate-panel">
      <form id="navigate_newer">
        <button  type="submit" class="navigate-btn"> Next </button>
        <input  id="newer_value" class="navigate-quantity" type=input value=1>
      </form>
      <form id="navigate_older">
        <button type="submit" class="navigate-btn"> Prev </button>
        <input id="older_value" class="navigate-quantity" type=input value=1>
      </form>
    </div>
  </b>

</div>

<!-- top middle controls -->                                                                                                                         <!--TODO: fix this centering problem -->
<!-- <div class="top_middle_toolbar" align="center" role="toolbar"  >
      <button id="add_to_current_location" onclick="addMarkerToCurrentLocation()" class="btn btn-default"  title="add marker to your current location" tabindex="0" style="user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;"><span class="glyphicon glyphicon-arrow-down"></span></button>
      <button id="add route" class="btn btn-default" onclick="drawCircle()" title="draw circle" style="user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;"><i class="far fa-circle"></i></button>
    </div> -->
