
.left_side_controls_div{

}

/*--------------- geocoding panel --------------*/
.geo-panel {

  background-color: transparent;
  border: none;
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 5;

}

#geo-address{

  background-color: white;
  color: black;
  padding: 10px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 12px;
  font-family: 'Roboto','sans-serif';
  margin-bottom:8px;
  width: 60%;

}
#geo-submit{

  background-color: white;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 12px;
  font-family: 'Roboto','sans-serif';
  margin-bottom:8px;
  width: 18%;
  outline: none;

}
#geo-submit:active { transform: translateY(4px); }
/*----------------end of geocode panel------------------------*/

/*------------- SEARCH for PLACES  ---------------*/
.search-place{

  background-color: transparent;
  border: none;
  position: absolute;
  top: 130px;
  left: 10px;
  z-index: 5;

}

#pac-input{

  background-color: white;
  color: black;
  padding: 10px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 12px;
  font-family: 'Roboto','sans-serif';
  margin-bottom:8px;
  width: 73%;
  text-overflow: ellipsis;

}
#pac-input:focus { border-color: #4d90fe; }

.pac-card {

   margin: 10px 10px 0 0;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   background-color: #fff;
   font-family: Roboto;

}

#pac-container {

 padding-bottom: 12px;
 margin-right: 12px;

}

.pac-controls {

 display: inline-block;
 padding: 5px 11px;

}

.pac-controls label {

 font-family: Roboto;
 font-size: 13px;
 font-weight: 300;

}

#title {

 color: #fff;
 background-color: #4d90fe;
 font-size: 25px;
 font-weight: 500;
 padding: 6px 12px;

}
#target { width: 345px; }
/*------------ end of search for places ------------------*/



/*-------------- NAVIGATION PANEL ---------------*/
.navigate-panel {

    background-color: transparent;
    border: none;
    position: absolute;
    top: 190px;
    left: 10px;
    z-index: 5;

 }

.navigate-btn {

    background-color: white;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
    font-family: 'Roboto','sans-serif';
    margin-bottom:8px;
    width: 22%;
    outline: none;

 }

.navigate-quantity{

    background-color: white;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
    font-family: 'Roboto','sans-serif';
    margin-bottom:8px;
    width: 12%;

}

.navigate-btn:hover { background-color: yellow; }

.navigate-btn:active { transform: translateY(4px); }
/*------------- end of navigation panel ---------------*/


/*------------- top middle toolbar ---------------------*/
.top_middle_toolbar{

    user-select: none;
    display: table;
    z-index: 5;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 310px;
    top: 100px;

}
/*------------end of top middle toolbar-----------------*/
